/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 déc. 2023, 11:53:34
    Author     : hachem
*/
.table-row:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #00539c;
}
